<div class="p bg-white box-shadow pos-rlt">
	<div class="container">
		<form class="form-horizontal">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search for restaurant, locality, cuisine or a dish...">
				<span class="input-group-btn">
					<button type="button" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
				</span>
			</div>
		</form>
	</div>
</div>

<div class="content-wide-banner w-full">
	<div class="content-bg-banner w-full h-full" style="background-image: url(halal/images/restaurant1.jpg)">
		<div class="container h-full pos-rlt">
			<div class="content-text-banner text-white pos-abt">
				<div class="pull-right">
					<span class="text-xs text-right text-shadow block">27.8 km</span>
					<span class="label bg-primary m-t-xs block">10 foto</span>
					<span class="label bg-info m-t-xs block">89 pengikut</span>
					<span class="label bg-success m-t-xs block">Sertifikat</span>
				</div>
				<h1 class="no-margin m-b-xs text-shadow">Sate Kambing Ajib</h1>
				<p class="no-margin m-b text-shadow">Suspendisse porttitor justo non erat commodo pulvinar praesent sollicitudin tristique urna ut tempor dolor pulvinar dignissim</p>
				<div class="btn-group btn-group-sm">
					<a href class="btn btn-default" title="Add to Bookmark"><i class="fa fa-bookmark"></i></a>
					<a href class="btn btn-default" title="Mark as Been Here"><i class="fa fa-check-square-o"></i></a>
					<a href class="btn btn-default" title="Write a review for this place"><i class="fa fa-edit"></i>&nbsp; Write Review</a>
				</div>
				<div class="btn-group btn-group-sm">
					<a href class="btn btn-sm btn-social-icon btn-facebook" title="Share to Facebook"><i class="fa fa-facebook"></i></a>
					<a href class="btn btn-sm btn-social-icon btn-twitter" title="Share to Twitter"><i class="fa fa-twitter"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="box bg-light">
		<div class="col-md-3">
			<div class="p">
				<div class="panel panel-default">
					<div class="panel-body">
						<h4 class="no-margin m-b">Phone Number</h4>
						<p class="no-margin text-2x font-bold">021-123-4567</p>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-body">
						<h4 class="no-margin m-b-sm">Location</h4>
						<p><b>Bantarjati</b>: Graha Aksimaya. Jalan Lincar 1 No. 2, Bantarjati, Bogor</p>
						<p><a href>See all restaurants in Bantarjati, Bogor (12)</a></p>
						<iframe class="content-frame-map w-full h-full no-border" 
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3963.522765535472!2d106.812939!3d-6.581745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69c42be3b192b7%3A0xdf58b707bd4e7701!2sAksimaya+(PT.+Pusat+Media+Indonesia)!5e0!3m2!1sid!2sid!4v1434103435319" 
							frameborder="0"
						></iframe>
						<p class="no-margin m-t-sm">
							<span class="label bg-primary">10 foto</span>
							<span class="label bg-info">89 pengikut</span>
							<span class="label bg-success">Sertifikat</span>
						</p>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-body">
						<h4 class="no-margin m-b-sm">Cuisines</h4>
						<p>Fast Food, Western</p>
						<h4 class="m-t-lg m-b-sm">Opening Hours <a class="text-sm" href>(See More +)</a></h4>
						<p>Today: 9h to 23h <span class="label bg-success">Open</span></p>
						<h4 class="m-t-lg m-b-sm">Highlights</h4>
						<ul class="list-group list-group-sm no-margin">
							<li class="list-group-item"><i class="fa fa-check-square-o fa-fw text-success"></i> Home Delivery</li>
							<li class="list-group-item"><i class="fa fa-check-square-o fa-fw text-success"></i> Dine-In Available</</li>
							<li class="list-group-item"><i class="fa fa-minus-square-o fa-fw text-danger"></i> Bar Not Available</li>
							<li class="list-group-item"><i class="fa fa-check-square-o fa-fw text-success"></i> Wifi Available</li>
							<li class="list-group-item"><i class="fa fa-check-square-o fa-fw text-success"></i> Outdoor Seating</li>
							<li class="list-group-item"><i class="fa fa-check-square-o fa-fw text-success"></i> Breakfast</li>
						</ul>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-body">
						<h4 class="no-margin m-b">First Review By</h4>
						<div class="clearfix">
							<a class="w-thumb-md m-r-sm block pull-left" href><img class="img-circle img-responsive" src="halal/images/a0.jpg"></a>
							<p class="no-margin">
								<a class="font-bold block">Yoga Bandono</a>
								<span class="text-sm text-muted">4 Reviews, 41 Followers</span>
							</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-body">
						<h4 class="no-margin m-b">Cost <a data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sodales feugiat augue vel pulvinar. In pellentesque sagittis elit, a consequat dui auctor in. Vivamus tempor tempor nisl." data-placement="right" bs-tooltip><i class="fa fa-info-circle text-sm"></i></a></h4>
						<p>Rp 140.000 for two people (approx.)</p>
						<p class="no-margin">Cash only</p>
					</div>
				</div>
				<ul class="list-group list-group-sm no-margin no-bg no-borders">
					<li class="list-group-item"><a href>Report Error</a></li>
					<li class="list-group-item"><a href>Edit Information</a></li>
					<li class="list-group-item"><a href>Report a Closure</a></li>
					<li class="list-group-item"><a href>Is this your business? Log in to claim it now!</a></li>
				</ul>
			</div>
		</div>

		<div class="col-md-6">
			<div class="p bg-white">
				<div class="panel m-t no-border b-b no-shadow">
					<div class="panel-body no-padding">
						<h4 class="no-margin m-b">Menu</h4>
						<ul class="thumbnail-list">
							<li><a href><img src="halal/images/food1.jpg"></a></li>
							<li><a href><img src="halal/images/food2.jpg"></a></li>
							<li><a href><img src="halal/images/food3.jpg"></a></li>
							<li><a href><img src="halal/images/food4.jpg"></a></li>
							<li><a href data-title="There's 1 more menu" data-placement="bottom" bs-tooltip><div><span class="text-lg">+<b>1</b></span></div></a></li>
						</ul>
					</div>
				</div>
				<div class="panel no-border b-b no-shadow">
					<div class="panel-body no-padding">
						<h4 class="no-margin m-b">Photos</h4>
						<ul class="thumbnail-list">
							<li><a href><img src="halal/images/food1.jpg"></a></li>
							<li><a href><img src="halal/images/food2.jpg"></a></li>
							<li><a href><img src="halal/images/food3.jpg"></a></li>
							<li><a href><img src="halal/images/food4.jpg"></a></li>
							<li><a href><img src="halal/images/food1.jpg"></a></li>
							<li><a href><img src="halal/images/food2.jpg"></a></li>
							<li><a href><img src="halal/images/food3.jpg"></a></li>
							<li><a href><img src="halal/images/food4.jpg"></a></li>
							<li><a href data-title="There're 8 more photos" data-placement="bottom" bs-tooltip><div><span class="text-lg">+<b>8</b></span></div></a></li>
							<li><a href data-title="Add your photo" data-placement="bottom" bs-tooltip><div><span class="text-lg">+<i class="fa fa-file-image-o"></i></span></div></a></li>
						</ul>
					</div>
				</div>
				<div class="panel bg-light dk b">
					<h4 class="panel-heading no-margin text-lt bg">Write a Review</h4>
					<div class="panel-body">
						<form class="form-horizontal">
							<textarea class="form-control no-border" rows="5" placeholder="Please write at least 140 characters about your personal experience at this restaurant. If the restaurant hosted you and is expecting this review, please mention so."></textarea>
						</form>
					</div>
				</div>

				<h4 class="no-margin m-b">Reviews</h4>
				<ul class="list-group no-margin no-border">
					<li class="list-group-item" style="padding:15px 0;">
						<a class="btn btn-sm btn-default pull-right" href title="Follow"><i class="fa fa-plus" style="font-size:8px;"></i> <i class="fa fa-user" style="font-size:16px;"></i></a>
						<div class="m-b-xs clearfix">
							<a class="w-thumb-md m-r-sm block pull-left" href><img class="img-circle img-responsive" src="halal/images/a0.jpg"></a>
							<p class="no-margin">
								<a class="font-bold block">Yoga Bandono</a>
								<span class="text-sm text-muted">4 Reviews, 41 Followers</span>
							</p>
						</div>
						<p class="text-sm">1 week ago via <a class="text-muted" href>4Halal App</a></p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sodales feugiat augue vel pulvinar. In pellentesque sagittis elit, a consequat dui auctor in. Vivamus tempor tempor nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
						<div class="clearfix">
							<span class="btn btn-sm btn-default pull-right"><i class="fa fa-share-square-o"></i></span>
							<div class="btn-group">
								<a href class="btn btn-sm btn-default"><i class="fa fa-heart-o"></i> Like</a>
								<span class="btn btn-sm btn-default">0</span>
							</div>
							<div class="btn-group">
								<a href class="btn btn-sm btn-default"><i class="fa fa-comment-o"></i> Comment</a>
								<span class="btn btn-sm btn-default">0</span>
							</div>
						</div>
						<form class="form-horizontal m-t-sm">
							<textarea class="form-control" rows="1" placeholder="Write a comment... Use @ to tag friends"></textarea>
						</form>
					</li>
					<li class="list-group-item" style="padding:15px 0;">
						<a class="btn btn-sm btn-default pull-right" href title="Follow"><i class="fa fa-plus" style="font-size:8px;"></i> <i class="fa fa-user" style="font-size:16px;"></i></a>
						<div class="m-b-xs clearfix">
							<a class="w-thumb-md m-r-sm block pull-left" href><img class="img-circle img-responsive" src="halal/images/a0.jpg"></a>
							<p class="no-margin">
								<a class="font-bold block">Yoga Bandono</a>
								<span class="text-sm text-muted">4 Reviews, 41 Followers</span>
							</p>
						</div>
						<p class="text-sm">1 week ago via <a class="text-muted" href>4Halal App</a></p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sodales feugiat augue vel pulvinar. In pellentesque sagittis elit, a consequat dui auctor in. Vivamus tempor tempor nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
						<div class="clearfix">
							<span class="btn btn-sm btn-default pull-right"><i class="fa fa-share-square-o"></i></span>
							<div class="btn-group">
								<a href class="btn btn-sm btn-default"><i class="fa fa-heart-o"></i> Like</a>
								<span class="btn btn-sm btn-default">0</span>
							</div>
							<div class="btn-group">
								<a href class="btn btn-sm btn-default"><i class="fa fa-comment-o"></i> Comment</a>
								<span class="btn btn-sm btn-default">0</span>
							</div>
						</div>
						<form class="form-horizontal m-t-sm">
							<textarea class="form-control" rows="1" placeholder="Write a comment... Use @ to tag friends"></textarea>
						</form>
					</li>
					<li class="list-group-item" style="padding:15px 0;">
						<a class="btn btn-sm btn-default pull-right" href title="Follow"><i class="fa fa-plus" style="font-size:8px;"></i> <i class="fa fa-user" style="font-size:16px;"></i></a>
						<div class="m-b-xs clearfix">
							<a class="w-thumb-md m-r-sm block pull-left" href><img class="img-circle img-responsive" src="halal/images/a0.jpg"></a>
							<p class="no-margin">
								<a class="font-bold block">Yoga Bandono</a>
								<span class="text-sm text-muted">4 Reviews, 41 Followers</span>
							</p>
						</div>
						<p class="text-sm">1 week ago via <a class="text-muted" href>4Halal App</a></p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sodales feugiat augue vel pulvinar. In pellentesque sagittis elit, a consequat dui auctor in. Vivamus tempor tempor nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
						<div class="clearfix">
							<span class="btn btn-sm btn-default pull-right"><i class="fa fa-share-square-o"></i></span>
							<div class="btn-group">
								<a href class="btn btn-sm btn-default"><i class="fa fa-heart-o"></i> Like</a>
								<span class="btn btn-sm btn-default">0</span>
							</div>
							<div class="btn-group">
								<a href class="btn btn-sm btn-default"><i class="fa fa-comment-o"></i> Comment</a>
								<span class="btn btn-sm btn-default">0</span>
							</div>
						</div>
						<form class="form-horizontal m-t-sm">
							<textarea class="form-control" rows="1" placeholder="Write a comment... Use @ to tag friends"></textarea>
						</form>
					</li>
					<li class="list-group-item" style="padding:15px 0;">
						<a class="btn btn-sm btn-default pull-right" href title="Follow"><i class="fa fa-plus" style="font-size:8px;"></i> <i class="fa fa-user" style="font-size:16px;"></i></a>
						<div class="m-b-xs clearfix">
							<a class="w-thumb-md m-r-sm block pull-left" href><img class="img-circle img-responsive" src="halal/images/a0.jpg"></a>
							<p class="no-margin">
								<a class="font-bold block">Yoga Bandono</a>
								<span class="text-sm text-muted">4 Reviews, 41 Followers</span>
							</p>
						</div>
						<p class="text-sm">1 week ago via <a class="text-muted" href>4Halal App</a></p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sodales feugiat augue vel pulvinar. In pellentesque sagittis elit, a consequat dui auctor in. Vivamus tempor tempor nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
						<div class="clearfix">
							<span class="btn btn-sm btn-default pull-right"><i class="fa fa-share-square-o"></i></span>
							<div class="btn-group">
								<a href class="btn btn-sm btn-default"><i class="fa fa-heart-o"></i> Like</a>
								<span class="btn btn-sm btn-default">0</span>
							</div>
							<div class="btn-group">
								<a href class="btn btn-sm btn-default"><i class="fa fa-comment-o"></i> Comment</a>
								<span class="btn btn-sm btn-default">0</span>
							</div>
						</div>
						<form class="form-horizontal m-t-sm">
							<textarea class="form-control" rows="1" placeholder="Write a comment... Use @ to tag friends"></textarea>
						</form>
					</li>
				</ul>
			</div>
		</div>

		<div class="col-md-3">
			<div class="p">
				<ul class="list-group no-margin no-bg no-borders">
					<li class="list-group-item no-padding">
						<a href="" class="thumbnail">
							<img src="halal/images/food1.jpg" class="img-responsive">
							<span class="caption text-sm block">This is food one - Lorem ipsum dolor sit amet</span>
						</a>
					</li>
					<li class="list-group-item no-padding">
						<a href="" class="thumbnail">
							<img src="halal/images/food2.jpg" class="img-responsive">
							<span class="caption text-sm block">This is food two - Nulla sodales feugiat augue vel pulvinar</span>
						</a>
					</li>
					<li class="list-group-item no-padding">
						<a href="" class="thumbnail">
							<img src="halal/images/food3.jpg" class="img-responsive">
							<span class="caption text-sm block">This is food three - In pellentesque sagittis elit a consequat dui auctor in</span>
						</a>
					</li>
					<li class="list-group-item no-padding">
						<a href="" class="thumbnail">
							<img src="halal/images/food4.jpg" class="img-responsive">
							<span class="caption text-sm block">This is food four - Vivamus tempor tempor nisl</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>